/* You can add global styles to this file, and also import other style files */

.debug1 {
  border: 2px solid red;
}

.debug2 {
  border: 2px solid yellow;
}

.debug3 {
  border: 2px solid blueviolet;
}

.debug4 {
  border: 1px solid green;
}

.debug5 {
  border: 1px solid black;
}
